@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", "sans-serif";

  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  background-color: rgb(18, 16, 16);
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100px;
  position: relative;
  /* padding: 20px; */
  padding-right: 10px;
}

.search .input {
  background-color: #fff;
  border: 0;
  /* border-radius: 50%; */
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
  align-self: center;
}

.btn {
  background-color: #fff;
  border: 0;
  /* border-radius: 50%; */
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 100;
  right: 20;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
  align-self: center;
}

.btn:focus,
.input:focus {
  outline: 0;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(-200px);
}
